body {
  font-family: 'Times New Roman', Times, serif;
  padding: 0px;
  text-align: justify;
  font-size: 20px;
  margin: 0px;
  background-color: #f5f5f5;
  line-height: 1.6;
}

header {
  background-color: #259ceb;
  border-radius: 12px;
}

footer {
  background-color: #259ceb;
  padding-left: 25%;
}

.footer1 {
  display: inline-block;
  position: relative;
}

.footer2 {
  display: inline-block;
  height: 100px;
  padding-top: 15px;
}

footer a {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 12px;
  color: #259ceb; 
  font-size: 30px;
  margin-left: 40px;
}

section {
  background: white;
  padding: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.containerf {
  max-width: 1100px;
  padding: 20px;
  text-align: center;
}

.section1 {
  height: 800px;
}

.container {
  max-width: 1100px;
  padding: 20px;
}

.container1 {
  max-width: 1100px;
  padding: 20px;
  margin-top: 70px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(1,0,0,0.1);
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
}

.card img {
  width: 50%;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 15px;
}

nav{
  text-align: end;
}

nav li {
  display: inline-block;
  list-style: none;
}


nav button {
  padding: 12px 20px 12px;
  border-radius: 6px;
  background:#259ceb;
  color: white;
  cursor: pointer;
  width: 100%;
}

nav button:hover {
  border-top: 10px solid #000000;
  background-color: rgba(8, 117, 241, 0.7);
  padding-top: 2px;
  padding-bottom: 2px;
}

fieldset {
  padding: auto;
  border-radius: 12px;
  box-shadow: 0px 0px 2px black;
}

form{
  padding: 0px 10px 15px 20px;
}

label {
  font-weight: 600;
}

input {
  width: 35%;
  font-size: 16px;
  padding: 10px 14px;
  height: 40px;
  border: 1px solid black;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none; 
}

textarea {
  border: 1px solid black;
  border-radius: 6px;
  width: 60%;
  height: 150px;
  resize: vertical;
  padding: 5px;
  font-size: 15px;
  line-height: 1.5;
}

input:focus, textarea:focus {
  border: 2px solid #6c63ff;
  outline: none;
  box-shadow: 0px 0px 3px #110c79;
}

input[type="submit"] {
  width: 110px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  background-color: #259ceb;  
}

button {
  width: 100px;
  height: 45px;
  padding: 12px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #259ceb;
}

.card button {
  width: 150px;
}

#photo {
  width: 30%;
  float: right;
  padding: 2px;
  background-color: #259ceb;
  margin-left: 20px;
}

@media screen and (max-width: 750px) {
  input {
    width: 80% !important;
  }
  textarea {
    width: 85% !important;
  }
  ul {
    margin: 0px !important;
  }
  header h1 {
    font-size: 38px;
  }  
}

@media screen and (orientation: landscape){}




