body {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    text-align: justify;
    font-size: 20px;
    margin: 20px;
    background-color: #f5f5f5;
    line-height: 1.6;
    }

 #nav {
    li {
      display: inline-block;
      width: 16%;
     
      /* pour impacter les bouttons */
      button {
        padding: 12px 20px;
        border: none;
        border-radius: 6px;
        background: #2563eb;
        color: white;
        cursor: pointer;
        width: 100%;
    }
  }
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
     margin-bottom: 15px;
}
button {
    width: 18%;
    font-size: 18px;
    background: #1e75af;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

section {
  background: white;
  padding: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(1,0,0,0.1);
  margin-bottom: 30px;
  margin-top: 30px;
}
